## Model 1
- Stop&Frisk and Complaint data

In [113]:
import pandas as pd
import os

In [114]:
os.getcwd()

'/Users/christine_biddlecombe/CJA/patrol_allocation'

In [115]:
files = os.listdir()

In [116]:
files = [file for file in files if file[-3:]=='csv']
names = [file[:-4] for file in files]

In [117]:
frames = []
for file, name in zip(files, names):
    name = pd.read_csv(file)
    frames.append(name)

In [118]:
files

['age_precinct.csv',
 '2016_estimations.csv',
 'StopFrisk_10thru18R.csv',
 'complaint_data.csv',
 'tract_precinct_key.csv',
 'pluto.csv',
 'precinct_pop_m.csv',
 'acs_other_demo_data.csv',
 'seven_majors.csv',
 'plutocounts.csv',
 'crash_data.csv',
 'precinct_population_dayadjust.csv',
 'vacancy_only.csv',
 'plutoSums.csv']

In [119]:
crime = frames[3] #refers to complaint_data.csv

In [120]:
crime.head()

,ADDR_PCT_CD,2010 FELONY,2010 MISDEMEANOR,2010 VIOLATION,2011 FELONY,2011 MISDEMEANOR,2011 VIOLATION,2012 FELONY,2012 MISDEMEANOR,2012 VIOLATION,...,2017 MISDEMEANOR,2017 VIOLATION,total2010,total2011,total2012,total2013,total2014,total2015,total2016,total2017
0,1,1771.0,3684.0,423.0,1774.0,3788.0,406.0,1790.0,4063.0,471.0,...,3596.0,716.0,5878.0,5968.0,6324.0,5980.0,5660.0,5657.0,6256.0,5935.0
1,10,1411.0,2285.0,408.0,1369.0,2427.0,379.0,1396.0,2494.0,382.0,...,1936.0,446.0,4104.0,4175.0,4272.0,4400.0,3945.0,3783.0,3865.0,3586.0
2,100,674.0,1441.0,413.0,870.0,1231.0,381.0,1025.0,1269.0,365.0,...,1341.0,381.0,2528.0,2482.0,2659.0,2361.0,2872.0,2651.0,2888.0,2684.0
3,101,1059.0,2062.0,568.0,1113.0,2007.0,524.0,1382.0,2102.0,568.0,...,1976.0,737.0,3689.0,3644.0,4052.0,4352.0,4469.0,4473.0,4636.0,4283.0
4,102,2129.0,3396.0,862.0,2037.0,3357.0,858.0,2141.0,3372.0,808.0,...,2623.0,868.0,6387.0,6252.0,6321.0,6738.0,6294.0,5882.0,5712.0,4829.0

In [121]:
sf = frames[2]
sf.head()

,Unnamed: 0,precinct,2010_no_arrest,2010_yes_arrest,2011_no_arrest,2011_yes_arrest,2012_no_arrest,2012_yes_arrest,2013_no_arrest,2013_yes_arrest,2014_no_arrest,2014_yes_arrest,2015_no_arrest,2015_yes_arrest,2016_no_arrest,2016_yes_arrest,2017_no_arrest,2017_yes_arrest,2018_no_arrest,2018_yes_arrest
0,0,1.0,2186.0,260.0,3411.0,215.0,2864.0,189.0,1066.0,93.0,77.0,11.0,41.0,4.0,46.0,7.0,41.0,6.0,73.0,26.0
1,1,5.0,2531.0,340.0,2746.0,372.0,2478.0,304.0,994.0,122.0,215.0,60.0,160.0,27.0,63.0,17.0,57.0,51.0,65.0,22.0
2,2,6.0,3268.0,265.0,2732.0,222.0,3437.0,200.0,1170.0,103.0,95.0,12.0,24.0,3.0,22.0,9.0,37.0,16.0,42.0,61.0
3,3,7.0,2806.0,418.0,3683.0,494.0,3119.0,382.0,913.0,207.0,245.0,88.0,136.0,29.0,41.0,12.0,58.0,52.0,101.0,37.0
4,4,9.0,4429.0,748.0,4472.0,895.0,4274.0,1008.0,1744.0,571.0,303.0,291.0,167.0,94.0,63.0,17.0,100.0,81.0,80.0,38.0

## merging dfs and adding population

In [122]:
## merge the dataframes
sfCrime = pd.merge(crime, sf, left_on='ADDR_PCT_CD',
                  right_on='precinct')

In [123]:
sfCrime.head()

,ADDR_PCT_CD,2010 FELONY,2010 MISDEMEANOR,2010 VIOLATION,2011 FELONY,2011 MISDEMEANOR,2011 VIOLATION,2012 FELONY,2012 MISDEMEANOR,2012 VIOLATION,...,2014_no_arrest,2014_yes_arrest,2015_no_arrest,2015_yes_arrest,2016_no_arrest,2016_yes_arrest,2017_no_arrest,2017_yes_arrest,2018_no_arrest,2018_yes_arrest
0,1,1771.0,3684.0,423.0,1774.0,3788.0,406.0,1790.0,4063.0,471.0,...,77.0,11.0,41.0,4.0,46.0,7.0,41.0,6.0,73.0,26.0
1,10,1411.0,2285.0,408.0,1369.0,2427.0,379.0,1396.0,2494.0,382.0,...,102.0,45.0,103.0,9.0,52.0,13.0,44.0,27.0,51.0,32.0
2,100,674.0,1441.0,413.0,870.0,1231.0,381.0,1025.0,1269.0,365.0,...,171.0,29.0,141.0,17.0,34.0,8.0,63.0,36.0,70.0,36.0
3,101,1059.0,2062.0,568.0,1113.0,2007.0,524.0,1382.0,2102.0,568.0,...,1410.0,76.0,145.0,30.0,46.0,10.0,84.0,16.0,46.0,17.0
4,102,2129.0,3396.0,862.0,2037.0,3357.0,858.0,2141.0,3372.0,808.0,...,1012.0,169.0,558.0,63.0,77.0,6.0,58.0,10.0,58.0,19.0

## Adding in population and merging with crime df

In [124]:
pop = frames[6]
pop2 = pop[['precinct_me', 'total_pop2017']]
pop2.head()

   precinct_me  total_pop2017
0          1.0          75871
1          5.0          50839
2          6.0          59687
3          7.0          59018
4          9.0          75718

In [125]:
crimeF= pd.merge(sfCrime, pop2, left_on='ADDR_PCT_CD',
                  right_on='precinct_me')

In [126]:
crimeF.drop(['precinct_me'], axis=1, inplace=True)

In [127]:
crimeF.head()

,ADDR_PCT_CD,2010 FELONY,2010 MISDEMEANOR,2010 VIOLATION,2011 FELONY,2011 MISDEMEANOR,2011 VIOLATION,2012 FELONY,2012 MISDEMEANOR,2012 VIOLATION,...,2014_yes_arrest,2015_no_arrest,2015_yes_arrest,2016_no_arrest,2016_yes_arrest,2017_no_arrest,2017_yes_arrest,2018_no_arrest,2018_yes_arrest,total_pop2017
0,1,1771.0,3684.0,423.0,1774.0,3788.0,406.0,1790.0,4063.0,471.0,...,11.0,41.0,4.0,46.0,7.0,41.0,6.0,73.0,26.0,75871
1,10,1411.0,2285.0,408.0,1369.0,2427.0,379.0,1396.0,2494.0,382.0,...,45.0,103.0,9.0,52.0,13.0,44.0,27.0,51.0,32.0,49476
2,100,674.0,1441.0,413.0,870.0,1231.0,381.0,1025.0,1269.0,365.0,...,29.0,141.0,17.0,34.0,8.0,63.0,36.0,70.0,36.0,52075
3,101,1059.0,2062.0,568.0,1113.0,2007.0,524.0,1382.0,2102.0,568.0,...,76.0,145.0,30.0,46.0,10.0,84.0,16.0,46.0,17.0,70937
4,102,2129.0,3396.0,862.0,2037.0,3357.0,858.0,2141.0,3372.0,808.0,...,169.0,558.0,63.0,77.0,6.0,58.0,10.0,58.0,19.0,137972

In [128]:
## Creating Rates, Creating Column that represents sums of all rates

In [129]:
a = crimeF.values

In [130]:
crimeF.iloc[:,1:53] = a[:,1:53] * 100 # multiply by 100 so that when i divide by population 
                                      # later, the value is a percent

In [131]:
crimeF.iloc[:,1:53] = a[:,1:53] / a[:,53,None] # dividing each value by the precinct population

In [132]:
crimeRates = crimeF # renaming for clarity
crimeRates.head()

,ADDR_PCT_CD,2010 FELONY,2010 MISDEMEANOR,2010 VIOLATION,2011 FELONY,2011 MISDEMEANOR,2011 VIOLATION,2012 FELONY,2012 MISDEMEANOR,2012 VIOLATION,...,2014_yes_arrest,2015_no_arrest,2015_yes_arrest,2016_no_arrest,2016_yes_arrest,2017_no_arrest,2017_yes_arrest,2018_no_arrest,2018_yes_arrest,total_pop2017
0,1,0.023342,0.048556,0.005575,0.023382,0.049927,0.005351,0.023593,0.053551,0.006208,...,0.000145,0.000540,0.000053,0.000606,0.000092,0.000540,0.000079,0.000962,0.000343,75871
1,10,0.028519,0.046184,0.008246,0.027670,0.049054,0.007660,0.028216,0.050408,0.007721,...,0.000910,0.002082,0.000182,0.001051,0.000263,0.000889,0.000546,0.001031,0.000647,49476
2,100,0.012943,0.027672,0.007931,0.016707,0.023639,0.007316,0.019683,0.024369,0.007009,...,0.000557,0.002708,0.000326,0.000653,0.000154,0.001210,0.000691,0.001344,0.000691,52075
3,101,0.014929,0.029068,0.008007,0.015690,0.028293,0.007387,0.019482,0.029632,0.008007,...,0.001071,0.002044,0.000423,0.000648,0.000141,0.001184,0.000226,0.000648,0.000240,70937
4,102,0.015431,0.024614,0.006248,0.014764,0.024331,0.006219,0.015518,0.024440,0.005856,...,0.001225,0.004044,0.000457,0.000558,0.000043,0.000420,0.000072,0.000420,0.000138,137972

In [142]:
crimeRates.ADDR_PCT_CD.dtype

dtype('int64')

In [133]:
# creating value for total crime rate per precinct
crimeRates['total_crime']= crimeRates.iloc[:, 1:53].sum(axis=1)

In [134]:
crimeRates.head()

,ADDR_PCT_CD,2010 FELONY,2010 MISDEMEANOR,2010 VIOLATION,2011 FELONY,2011 MISDEMEANOR,2011 VIOLATION,2012 FELONY,2012 MISDEMEANOR,2012 VIOLATION,...,2015_no_arrest,2015_yes_arrest,2016_no_arrest,2016_yes_arrest,2017_no_arrest,2017_yes_arrest,2018_no_arrest,2018_yes_arrest,total_pop2017,total_crime
0,1,0.023342,0.048556,0.005575,0.023382,0.049927,0.005351,0.023593,0.053551,0.006208,...,0.000540,0.000053,0.000606,0.000092,0.000540,0.000079,0.000962,0.000343,75871,1.396225
1,10,0.028519,0.046184,0.008246,0.027670,0.049054,0.007660,0.028216,0.050408,0.007721,...,0.002082,0.000182,0.001051,0.000263,0.000889,0.000546,0.001031,0.000647,49476,1.499616
2,100,0.012943,0.027672,0.007931,0.016707,0.023639,0.007316,0.019683,0.024369,0.007009,...,0.002708,0.000326,0.000653,0.000154,0.001210,0.000691,0.001344,0.000691,52075,1.103370
3,101,0.014929,0.029068,0.008007,0.015690,0.028293,0.007387,0.019482,0.029632,0.008007,...,0.002044,0.000423,0.000648,0.000141,0.001184,0.000226,0.000648,0.000240,70937,1.510016
4,102,0.015431,0.024614,0.006248,0.014764,0.024331,0.006219,0.015518,0.024440,0.005856,...,0.004044,0.000457,0.000558,0.000043,0.000420,0.000072,0.000420,0.000138,137972,0.914077

In [135]:
# creating new column as a percentage of total crime in the city, based sum of total_crime column
# each value will represent the share of total crime that occurs in that precinct 
crimeRates['total_crime_share'] = 100*(crimeRates.total_crime / crimeRates.total_crime.sum())

In [136]:
crimeRates.total_crime_share.sum()

100.00000000000001

In [137]:
crimeRates.head()

,ADDR_PCT_CD,2010 FELONY,2010 MISDEMEANOR,2010 VIOLATION,2011 FELONY,2011 MISDEMEANOR,2011 VIOLATION,2012 FELONY,2012 MISDEMEANOR,2012 VIOLATION,...,2015_yes_arrest,2016_no_arrest,2016_yes_arrest,2017_no_arrest,2017_yes_arrest,2018_no_arrest,2018_yes_arrest,total_pop2017,total_crime,total_crime_share
0,1,0.023342,0.048556,0.005575,0.023382,0.049927,0.005351,0.023593,0.053551,0.006208,...,0.000053,0.000606,0.000092,0.000540,0.000079,0.000962,0.000343,75871,1.396225,1.254658
1,10,0.028519,0.046184,0.008246,0.027670,0.049054,0.007660,0.028216,0.050408,0.007721,...,0.000182,0.001051,0.000263,0.000889,0.000546,0.001031,0.000647,49476,1.499616,1.347565
2,100,0.012943,0.027672,0.007931,0.016707,0.023639,0.007316,0.019683,0.024369,0.007009,...,0.000326,0.000653,0.000154,0.001210,0.000691,0.001344,0.000691,52075,1.103370,0.991496
3,101,0.014929,0.029068,0.008007,0.015690,0.028293,0.007387,0.019482,0.029632,0.008007,...,0.000423,0.000648,0.000141,0.001184,0.000226,0.000648,0.000240,70937,1.510016,1.356911
4,102,0.015431,0.024614,0.006248,0.014764,0.024331,0.006219,0.015518,0.024440,0.005856,...,0.000457,0.000558,0.000043,0.000420,0.000072,0.000420,0.000138,137972,0.914077,0.821396

In [138]:
# for the SF data, should we just be using yes_arrest columns? 
# for SF data, should this be a percentage of population or percentage of yes/no column?

In [139]:
crimeRates.total_crime_share.min()

0.3740345296398605

In [140]:
crimeRates.total_crime_share.max()

15.055554001712917

In [141]:
crimeRates.iloc[crimeRates['total_crime_share'].argmax()] # find column with max in total_Crime_share column, 
                                                          # print associated values

/anaconda3/lib/python3.6/site-packages/ipykernel_launcher.py:1: FutureWarning: 'argmax' is deprecated, use 'idxmax' instead. The behavior of 'argmax'
will be corrected to return the positional maximum in the future.
Use 'series.values.argmax' to get the position of the maximum now.
  """Entry point for launching an IPython kernel.

ADDR_PCT_CD             14.000000
2010 FELONY              0.303555
2010 MISDEMEANOR         0.609390
2010 VIOLATION           0.045297
2011 FELONY              0.277210
2011 MISDEMEANOR         0.576360
2011 VIOLATION           0.044275
2012 FELONY              0.284523
2012 MISDEMEANOR         0.570069
2012 VIOLATION           0.048915
2013 FELONY              0.282007
2013 MISDEMEANOR         0.576282
2013 VIOLATION           0.044432
2014 FELONY              0.278468
2014 MISDEMEANOR         0.535546
2014 VIOLATION           0.050959
2015 FELONY              0.277996
2015 MISDEMEANOR         0.498349
2015 VIOLATION           0.050409
2016 FELONY              0.280670
2016 MISDEMEANOR         0.475936
2016 VIOLATION           0.053319
2017 FELONY              0.260381
2017 MISDEMEANOR         0.467285
2017 VIOLATION           0.054813
total2010                0.958242
total2011                0.897845
total2012                0.903507
total2013                0.902721
total2014                0.864973
total2015                0.826754
total2016                0.809925
total2017                0.782479
Unnamed: 0               0.000550
precinct                 0.001101
2010_no_arrest           0.885735
2010_yes_arrest          0.067789
2011_no_arrest           0.783658
2011_yes_arrest          0.055049
2012_no_arrest           0.665697
2012_yes_arrest          0.037748
2013_no_arrest           0.254247
2013_yes_arrest          0.016908
2014_no_arrest           0.036018
2014_yes_arrest          0.007785
2015_no_arrest           0.020132
2015_yes_arrest          0.004325
2016_no_arrest           0.007785
2016_yes_arrest          0.001730
2017_no_arrest           0.006606
2017_yes_arrest          0.001416
2018_no_arrest           0.004954
2018_yes_arrest          0.002202
total_pop2017        12716.000000
total_crime             16.754325
total_crime_share       15.055554
Name: 22, dtype: float64